body{
    width:200%;

}
mat-card{
    width: 35%;
    height: 100%;;
}

img{
    margin-top: 10px;
    width: 150px;
}

#addFloatingButton {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 9999999;
    background-color: var(--color-primary-dark);

    .mat-icon {
        color: white;
    }
}

.roleusu {
    font-weight: bold;
}