/* You can add global styles to this file, and also import other style files */
@import "_colors.scss";
@import "custom-theme.scss";
@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~ngx-bar-rating/themes/br-default-theme.scss';
@import '~ngx-bar-rating/themes/br-horizontal-theme.css';
@import '~ngx-bar-rating/themes/br-fontawesome-theme.css';
@import '~ngx-bar-rating/themes/br-fontawesome-o-theme.css';
@include angular-material-theme($custom-theme);
html { font-family: 'Inter UI', 'Roboto', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter UI var alt', 'Roboto', sans-serif; }
}

html, body {
    margin: 0;
    padding: 0;
}

#translations .mat-tab-label, #translations .mat-tab-label{
  width: 15% !important;
  padding: 0% !important;
  min-width: 0% !important;
}

#translations {
  width: 50%;
  margin-left: 4%;
}
/**.mat-tab-label-container {
  max-width: 70%;
}**/
#imgTranslations {
 width: 60%;
}

#container {
  padding: 16px;
}
